*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    /* display: block; */
    color: black;
}
body{
    font-family: 'Barlow Condensed', sans-serif;
    margin: 9px;
}
header{
    height: 50px;
}
.right{
    display: flex;
    justify-content: right;
    padding: 4px 50px;
    gap: 8px;
    align-items: center;
}
.right nav {
    display: flex;
    gap: 25px;
    font-size: 25px;
    font-weight: 400;
}
.profile{
    margin-bottom: 30px;
}
.bk1 {
    width: 100%;
    padding: 50px 200px;
}
.pic {
    border-radius: 50%;
    width: 200px;
    float: right;
}
.bk1_text{
    width: 60%;
    font-size: 25px;
    padding-bottom: 25px;
}
.myButton {
    margin: 5px 10px;
    width: 20%;
	box-shadow:inset 0px 0px 0px 0px #f7c5c0;
	background-color:#f75b4d;
	border-radius:9px;
    border:1px solid #f78686;
	display: inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:15px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.myButton:hover {
	background-color:#e4685d;
}
.scope {
    background-color: rgb(218, 251, 251);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recentpost{
    width: 100%;
    padding: 0px 100px;
}
.bk2_recent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.bk2_recent p {
    font-size: 15px;
    margin: 0;
}
.bk2_recent a {
    color: darkcyan;
}
.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bk2_post {
    background-color: white;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 15px;
}
.work {
    padding: 0px 100px;
}
.featured_works {
    font-size: 20px;
    padding-top: 10px;
}
.dashboard, .vibrant, .malaya  {
    display: flex;
    border-bottom: 1px solid gray;
}
.img {
    padding: 15px 0px;
    margin-right: 15px;
}
.text_dash, .text_vibra, .text_malaya {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.dashboard h2, .vibrant h2, .malaya h2 {
    font-size: 30px;
    width: fit-content;
}
.year {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    gap: 20px;
}
.year :nth-child(1) {
    color: white;
    border-radius: 30px;
    background-color: midnightblue;
    padding: 8px;
    font-size: 19px;
    width: 50px;
    margin: 0;
}
.lower {
    margin: 20px 0px 20px 0px;
}
.info {
    size: 2px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.info img {
    margin: 0;
    width: 2%;
}
.info2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog {
    display: flex;
    padding: 0px 300px;
    flex-direction: column;
}
.textblog {
    margin: 20px;
    font-size: 25px;
}
.bg1 {
    margin: 20px;
    border-bottom: 1px solid gray;
}
.bg2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 20px;
}
.works {
    display: flex;
    margin: 0 300px;
    flex-direction: column;
}
.headwork {
    font-size: 20px;
    margin: 10px 20px;
}
.designing, .portraits, .malayal, .component {
    display: flex;
    border-bottom: 1px solid gray;
    margin: 10px 0px;
}
.text_design, .text_vibra, .text_malayal, .text_compo {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 13px;
    font-size: 18px;
}
.wk1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200px;
    gap: 20px;
}
.wk1 :nth-child(1) {
    color: white;
    border-radius: 30px;
    background-color: midnightblue;
    padding: 8px;
    font-size: 19px;
    width: 50px;
    margin: 0;
}